<!DOCTYPE html>
<html>
<head>
  <title>Student site</title>
  <%= stylesheet_link_tag    "style", :media => "all" %>
  <%= stylesheet_link_tag    "media-queries", :media => "all" %>
  <%= stylesheet_link_tag    "flexslider", :media => "screen" %>
  <%= stylesheet_link_tag    "font-awesome", :media => "screen" %>
  
  <%= javascript_include_tag "comment-reply.min" %>
  <%= javascript_include_tag "jquery" %>
  <%= javascript_include_tag "chirp.min" %>
  <%= javascript_include_tag "jquery.flexslider" %>
  <%= javascript_include_tag "jquery.tabs.min" %>
  <%= javascript_include_tag "jquery.fitvids" %>
  <%= javascript_include_tag "mobilemenu" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
